// grid
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1000px,
  xl: 1300px,
  xxl: 1450px,
) !default;

// ------- variables ------- //
// ------------------------- //

// typography
$font-family-base: "abril-display";
$font-family-sans-serif: "muli";
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 6;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 2.6;

// colors
$primary: #53654E;
$secondary: #8E9B89;
$tertiary: #B7BFB4;
$warning: #D09A72;
$danger: #D07272;
$highlight: #DEDED0;
$pink: #E8ABA8;
$text-dark: #000;
$white: #fff;
$background-color: #EAEAE2;

$border-radius: 0;
$link-hover-color: inherit;

// buttons
$btn-padding-y: 0.2rem;
$btn-padding-x: 2.8rem;
$btn-border-radius: 0;
$btn-border-width: 2px;
$input-btn-font-size: 1.5rem;

// form elements
$input-border-color: $primary;
$input-bg: $white;
$input-color: $secondary;
$input-border-radius: 0;
$input-font-family: $font-family-sans-serif;
$input-font-size: 1rem;
$form-select-indicator-color: $primary;

// navbar
$navbar-padding-y: 1rem;
$navbar-light-color: $primary;
$navbar-light-active-color: $primary;
$nav-link-hover-color: $primary !important;
$dropdown-padding-x: 5px;
$dropdown-border-color: $text-dark;
$dropdown-border-radius: 0;
$dropdown-link-hover-bg: $primary;

// cards
$card-border-width: 0;
$card-bg: $background-color;
$card-cap-padding-x: 0;

// loader
$spinner-width: 4rem;
$spinner-vertical-align: 0;

// -------- global --------- //
// ------------------------- //
body {
  background-color: $background-color !important;
  color: $primary !important;
}

// images
img {
  max-width: 100%;
}

.btn-primary {
  background-color: transparent !important;
  color: $primary !important;
}

@import "partials/typography/typography";
@import "partials/layout/navbar";
@import "partials/layout/footer";
@import "partials/home/hero";
@import "partials/home/card";
@import "partials/home/planBook";
@import "partials/accommodation/accommodation";
@import "partials/accommodation/roomTypes";
@import "partials/accommodation/bookingForm";
@import "~bootstrap/scss/bootstrap.scss";
