.alert-success {
  background-color: $tertiary !important;
  border-color: $tertiary !important;
}

.alert-danger {
  background-color: $pink !important;
  border-color: $pink !important;
  color: $primary !important;
}

.form-error {
  padding-top: 10px;
  color: $danger;
}
